<?xml version="1.0"?>
<phpunit>
	<testsuites>
		<testsuite name="Framework Tests">
			<directory suffix="Test.php">Framework</directory>
		</testsuite>
		<testsuite name="Component Tests">
			<directory suffix="Test.php">Framework/Component</directory>
		</testsuite>
	</testsuites>
	<logging>
		<log type="json" target="PhpUnit.json"/>
		<log type="tap" target="PhpUnit.tap"/>
		<log type="junit" target="PhpUnit-JUnit.xml"/>
	</logging>
</phpunit>