www/*/
www/*.cache
*.log

composer.phar

Cache/
Upload/
*.sublime-project
*.sublime-workspace
*.scss.css

Test/TestApp/*
Test/bin/
Test/installer
Test/vendor/
Test/chromedriver
Test/selenium-server-standalone-*.jar
Test/PhpUnit-JUnit.xml
Test/PhpUnit.json
Test/PhpUnit.tap