@font-face {
  font-family: 'Ubuntu Light';
  font-style: normal;
  font-weight: normal;
  src: url("/Style/Font/Ubuntu/UbuntuLight.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu Light';
  font-style: italic;
  font-weight: normal;
  src: url("/Style/Font/Ubuntu/UbuntuLightItalic.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: normal;
  src: url("/Style/Font/Ubuntu/Ubuntu.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: normal;
  src: url("/Style/Font/Ubuntu/UbuntuItalic.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url("/Style/Font/Ubuntu/UbuntuMedium.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 500;
  src: url("/Style/Font/Ubuntu/UbuntuMediumItalic.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url("/Style/Font/Ubuntu/UbuntuBold.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu';
  font-style: italic;
  font-weight: 700;
  src: url("/Style/Font/Ubuntu/UbuntuBoldItalic.woff") format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: url("/Style/Font/Ubuntu/UbuntuMono.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 400;
  src: url("/Style/Font/Ubuntu/UbuntuMonoItalic.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 700;
  src: url("/Style/Font/Ubuntu/UbuntuMonoBold.woff") format('woff');
}
@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: 700;
  src: url("/Style/Font/Ubuntu/UbuntuMonoBoldItalic.woff") format('woff');
}

@font-face {
  font-family: 'Ubuntu Condensed';
  font-style: normal;
  font-weight: 400;
  src: url("/Style/Font/Ubuntu/UbuntuCondensed.woff") format('woff');
}